.drum-machine-container{
    position: relative;
    top: 15%;
    width: 80%;
    height: 60%;
    margin: auto;
    background-color: grey;
    display: flex;
    flex-flow: row nowrap
}

.drum-machine-buttons{
    width: 55%;
    margin-right: 10%;
    display: flex;
    flex-flow: row wrap
}

.drum-machine-controls{
    width: 35%;
    height: 100%;
    display: flex;
    flex-flow: column wrap
}

.kit-name{
    margin: auto;
    width: 80%;
    height: 50px;
    background-color: rgb(102, 94, 94)
}